// Colours
$accentColor = #4286f5 // Modify to change primary colour
$textColor = #2c3e51
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

img[alt=profile-picture]{
  width: 300px;
}

.center-image{
  text-align: center;
  max-height: 400px;
}
.center-image *{
  height: -webkit-fill-available;
}

img[alt=artefact]{
  max-height: 400px;
}